# Python bytecode files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Python virtual environments
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
*.db

# Coverage reports
.coverage
*.cover
*.hypothesis/

# PyCharm specific files
.idea/

# VS Code specific files
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# Caching and other miscellaneous files
*.bak
*.swp
*.swo